# Node.js
node_modules
npm-debug.log
yarn-error.log
package-lock.json
uploads

# Test coverage
coverage

# Environment variables
.env
.env.test

# IDE/Editor specific
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# macOS
.DS_Store
